/*基础待使用类*/
.hand{
    cursor: pointer;
}
/*end*/

/*全局统一样式设置*/
.content {
    background: #fff;
    margin: 0;
    padding: 8px 20px 24px;
}

.table{
    border-radius: 8px;
    border-collapse: separate;
}

.table>tbody>tr>td{
    border-top:0px;
}

.table>thead>tr>th{
    text-align: center!important;
    background: #E7EFFA;
}

.background-th{
    background: #E7EFFA;
}

/*end*/